.mat-table {
  width: 100%;
}

.mat-column-createdDate {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 50%;
}

.mat-column-total {
  flex: 0 0 10%;
  flex-direction: row-reverse;
}

.mat-column-actions {
  flex: 0 0 21%;
  padding-left: 30px;
}

.mat-column-details {
  padding-right: 0px;
}

.matRow:focus {
  outline: none;
  background: #f5f5f5;
}

.icon {
  display: flex;
}

.matRow .mat-column-name {
  font-weight: bold;
}

.matRow .mat-column-createdDate {
  color: rgba(0, 0, 0, 0.54);
  font-size: small;
}

.matRow .mat-column-actions {
  color: rgba(0, 0, 0, 0.2);
}
.matRow .activeIcons {
  color: rgba(0, 0, 0, 0.70);
}
.activeList {
  background: #f5f5f5;
}

.listIcon {
  margin: 12px;
}

.detailSpan {
  font-size: small;
  color: rgb(0, 43, 85);
}
