.list-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  float: right;
  height: 80px;
}
.searchStyle {
  position: absolute;
  right: 16px;
}
.list-container {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}
.list-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
}
.descripton {
  background: #f5f5f5;
  margin: 15px;
  height: 50px;
  padding: 15px;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
}

.save {
  background: rgb(0, 43, 85);
  color: white;
  font-size: small;
}
.add {
  color: rgb(0, 68, 136);
  font-weight: bold;
  padding-left: 3px;
}

.headerButton {
  font-weight: normal;
  height: 45px;
  width: 165px;
  letter-spacing: 0.1em;
  margin-right: 30px;
}

.headerOptions {
  font-weight: normal;
  font-size: small;
  letter-spacing: 0.1em;
  margin-right: 45px;
}

.saveIcon {
  padding-right: 10px;
}

.headerIcons {
  padding-right: 5px;
  margin-top: -3px;
  font-size: large;
  position: relative;
  top: 2px;
}

.plusIcon {
  font-size: x-small;
}
